In [1]:
import graphlab as gl

In [3]:
people = gl.SFrame('people_wiki.gl/')

#Get word count for all people

In [48]:
people['word_count']=gl.text_analytics.count_words(people['text'])

#Get tf-idf for all peopole

In [49]:
tf_idf=gl.text_analytics.tf_idf(people['word_count'])

##Assign the 'docs' column of tf_idf to people SFrae

In [50]:
people['tf_idf']=tf_idf['docs']

##Select only elton john

In [44]:
elton_john = people[people['name'] == 'Elton John']

##Stack the dict 'word_count' to get top 3 words  (the, in, and)

elton_john[['word_count']].stack('word_count', new_column_name = ['word','count']).sort('count',ascending=False)

##Stack the dict 'tf_idf' to get top weightest words (furnish, elton, billboard)

In [46]:
elton_john[['tf_idf']].stack('tf_idf', new_column_name = ['word','count']).sort('count',ascending=False)

Columns:
	word	str
	count	int

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   27  |
|   in  |   18  |
|  and  |   15  |
|   of  |   13  |
|   a   |   10  |
|  has  |   9   |
|  john |   7   |
|   he  |   7   |
|   on  |   6   |
| award |   5   |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## Get Victoria Beckham

In [53]:
victoria_beckham = people[people['name']=='Victoria Beckham']

## Get Paul McCartney

In [52]:
paul_mc_cartney = people[people['name']=='Paul McCartney']

#Get distance Victoria Beckham and Elton john  (0.9567006376655429)

In [56]:
gl.distances.cosine(victoria_beckham['tf_idf'][0],elton_john['tf_idf'][0])

0.9567006376655429

#Get distance Paul McCartney and Elton john (0.825031002922178)

In [57]:
gl.distances.cosine(paul_mc_cartney['tf_idf'][0],elton_john['tf_idf'][0])

0.825031002922178

#Create nearest model using word counts

In [59]:
knn_model_word_counts = gl.nearest_neighbors.create(people,features=['word_count'],label='name', distance='cosine')

PROGRESS: Starting brute force nearest neighbors model training.

#Get nearest article to Elthon John based on word_count (Cliff Richard)

In [60]:
knn_model_word_counts.query(elton_john)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 40.486ms     |
PROGRESS: | Done         |         | 100         | 514.974ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-------------------+------+
| query_label |  reference_label  |      distance     | rank |
+-------------+-------------------+-------------------+------+
|      0      |     Elton John    | 2.22044604925e-16 |  1   |
|      0      |   Cliff Richard   |   0.16142415259   |  2   |
|      0      |   Sandro Petrone  |   0.16822542751   |  3   |
|      0      |    Rod Stewart    |   0.168327165587  |  4   |
|      0      | Malachi O'Doherty |   0.177315545979  |  5   |
+-------------+-------------------+-------------------+------+
[5 rows x 4 columns]

#Get nearest article to Victoria Beckham based on word_count (Mary Fitzgerald (artist))

In [61]:
knn_model_word_counts.query(victoria_beckham)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 19.862ms     |
PROGRESS: | Done         |         | 100         | 469.971ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+--------------------+------+
| query_label |     reference_label      |      distance      | rank |
+-------------+--------------------------+--------------------+------+
|      0      |     Victoria Beckham     | -2.22044604925e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |   0.207307036115   |  2   |
|      0      |      Adrienne Corri      |   0.214509782788   |  3   |
|      0      |     Beverly Jane Fry     |   0.217466468741   |  4   |
|      0      |      Raman Mundair       |   0.217695474992   |  5   |
+-------------+--------------------------+--------------------+------+
[5 rows x 4 columns]

#Create nearest model using tf-idf

In [64]:
knn_model_tf_idf = gl.nearest_neighbors.create(people,features=['tf_idf'],label='name', distance='cosine')

PROGRESS: Starting brute force nearest neighbors model training.

#Get nearest article to Elton John based on tf_idf (Rod Stewart)

In [63]:
knn_model_tf_idf.query(elton_john)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 42.838ms     |
PROGRESS: | Done         |         | 100         | 642.43ms     |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+--------------------+------+
| query_label | reference_label  |      distance      | rank |
+-------------+------------------+--------------------+------+
|      0      |    Elton John    | -2.22044604925e-16 |  1   |
|      0      |   Rod Stewart    |   0.717219667893   |  2   |
|      0      |  George Michael  |   0.747600998969   |  3   |
|      0      | Sting (musician) |   0.747671954431   |  4   |
|      0      |   Phil Collins   |   0.75119324879    |  5   |
+-------------+------------------+--------------------+------+
[5 rows x 4 columns]

#Get nearest article to Victoria Beckham based on tf_idf (David Beckham)

In [65]:
knn_model_tf_idf.query(victoria_beckham)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 32.809ms     |
PROGRESS: | Done         |         | 100         | 612.643ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+-------------------+------+
| query_label |   reference_label   |      distance     | rank |
+-------------+---------------------+-------------------+------+
|      0      |   Victoria Beckham  | 1.11022302463e-16 |  1   |
|      0      |    David Beckham    |   0.548169610263  |  2   |
|      0      | Stephen Dow Beckham |   0.784986706828  |  3   |
|      0      |        Mel B        |   0.809585523409  |  4   |
|      0      |    Caroline Rush    |   0.819826422919  |  5   |
+-------------+---------------------+-------------------+------+
[5 rows x 4 columns]